@model IEnumerable<GuidanceTracker.Models.Appointment>

<h4>
    <strong>@ViewBag.Class</strong>
</h4>
<h4>
    <strong>Time:</strong> @ViewBag.GSTime
</h4>
<h4>
    <strong>Room:</strong> @ViewBag.Room
</h4>

@if (Model.Count() != 0)
{
    <table class="table">
        <tr>
            <th>
                Student Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentNotes)
            </th>
            <th>
                Meeting type
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FirstName)
                    @Html.DisplayFor(modelItem => item.Student.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentNotes)
                </td>
                <td>
                    @if (item.IssueId == null)
                    {
                        <p>Progress meeting</p>
                    }
                    else
                    {
                        <p>Issue Discussion</p>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Appointment", new { id = item.AppointmentId }, new { @class = "btn btn-edit small" })
                    @if (item.IssueId == null)
                    {
                        <span></span>@Html.ActionLink("Start Meeting", "ProgressMeetingForm", "Appointment", new { id = item.AppointmentId }, new { @class = "btn btn-edit small" })
                    }
                    else
                    {
                        <span></span>@Html.ActionLink("Start Meeting", "AppointmentForm", "Appointment", new { id = item.AppointmentId }, new { @class = "btn btn-edit small" })
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <p><strong>No appointments assigned for this session</strong></p>
}


<style>
    .btn {
        color: white;
        border: none;
        border-radius: 20px;
        padding: 8px 16px;
        cursor: pointer;
        font-size: 14px;
    }

    .btn-edit {
        background: #7F3D98;
    }
</style>