@model GuidanceTracker.Models.AppointmentFeedbackForm

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Appointment Feedback Form</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.GuidanceTeacherId)
    @Html.HiddenFor(model => model.AppointmentId)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.StudentId)
    @Html.HiddenFor(model=>model.IssueId)
    <div class="form-group">
        <strong>Student information:</strong>
        <br />
        Student Name: @Model.Student.FirstName @Model.Student.LastName
        <br />
        Class: @Model.Student.Class.ClassName
    </div>
    <p></p>
    <div class="form-group">
        <strong>Appointment information:</strong>
        <br />
        Room: @Model.Appointment.Room
        <br />
        Appointment Notes: @Model.Appointment.AppointmentNotes
        <br />
    </div>
    <div class="form-group">
        <strong>Issue information:</strong>
        <br />
        Issue Title: @Model.Issue.IssueTitle
        <br />
        Description: @Model.Issue.IssueDescription
        <br />
    </div>
    <p></p>
    <div class="form-group">
        @Html.LabelFor(model => model.StudentOpinion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.StudentOpinion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StudentOpinion, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.StudentActions, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.StudentActions, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StudentActions, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.OtherActions, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.OtherActions, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OtherActions, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.GuidanceTeacherNotes, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.GuidanceTeacherNotes, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GuidanceTeacherNotes, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-back" />
        </div>
    </div>
</div>
}
<br />
<p>
    @Html.ActionLink("Back to Dashboard", "GuidanceTeacherDash", "GuidanceTeacher", null, new { @class = "btn btn-back" })
</p>

<style>
    .btn-back {
        background: #7F3D98;
    }

    .btn {
        color: white;
        border: none;
        border-radius: 20px;
        padding: 8px 16px;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s ease; /* Optional: Add a smooth transition */
    }

    .btn-back:hover {
        background-color: #5c2b70; /* A darker shade of your original purple */
        color: white;
    }
</style>
