@model IEnumerable<GuidanceTracker.Models.Appointment>


@if (Model.Count() != 0)
{
<table class="table">
    <tr>
        <th>
           <p>Student Name</p>
        </th>
        <th>
            Appointment Time
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.FirstName)
            @Html.DisplayFor(modelItem => item.Student.LastName)
        </td>
        <td>
            @item.StartTime.ToString("hh\\:mm")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Appointment", new { id = item.AppointmentId }, new { @class = "btn btn-edit" }) 
        </td>
    </tr>
}
</table>
}
else
            {
                <p><strong>No appointments assigned for this date</strong></p>
            }


<style>
    .btn-edit {
        background: #7F3D98;
    }

    .btn {
        color: white;
        border: none;
        border-radius: 20px;
        padding: 8px 16px;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s ease; /* Optional: Add a smooth transition */
    }

    .btn-back:hover {
        background-color: #5c2b70; /* A darker shade of your original purple */
        color: white;
    }
    }
</style>
