@model IEnumerable<GuidanceTracker.Models.Appointment>

@if (Model.Count() != 0)
{
<table class="table">
    <tr>
        <th>
           <p>Student Name</p>
        </th>
        <th>
            Time
        </th>
        <th>
            Status
            @*@Html.DisplayNameFor(model => model.AppointmentStatus)*@
        </th>
        <th>
            Notes
            @*@Html.DisplayNameFor(model => model.AppointmentNotes)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.FirstName)
            @Html.DisplayFor(modelItem => item.Student.LastName)
        </td>
        <td>
            @item.StartTime.ToString("hh\\:mm")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Appointment", new { id = item.AppointmentId }, new { @class = "btn" })
        </td>
        <td>
            @if (item.IssueId == null)
            {
                <span></span>@Html.ActionLink("Start", "ProgressMeetingForm", "Appointment", new { id = item.AppointmentId }, new { @class = "btn" })
            }
            else
            {
                <span></span>@Html.ActionLink("Start", "AppointmentForm", "Appointment", new { id = item.AppointmentId }, new { @class = "btn" })
            }
        </td>
    </tr>
}
</table>
}
else
            {
                <p><strong>No appointments assigned for this date</strong></p>
            }


<style>
    .btn {
        background-color: #7F3D98;
        color: white;
        border: none;
        border-radius: 6px;
        padding: 8px 16px;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s ease;
    }

        .btn:hover {
            background-color: #985BAF;
            color: white;
            text-decoration: none;
        }
    

</style>
