@model GuidanceTracker.Models.ViewModels.CreateStudentViewModel

@{
    ViewBag.Title = "CreateStudent";
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}

<!-- Page title -->
<h2>Enroll a New Student</h2>

<!-- Begin form with anti-forgery token for security -->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <!-- First Name field -->
        <div class="form-group" style="margin-bottom: 5px;">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Last Name field -->
        <div class="form-group" style="margin-bottom: 5px;">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Street Address field -->
        <div class="form-group" style="margin-bottom: 5px;">
            @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- City field -->
        <div class="form-group" style="margin-bottom: 5px;">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Postcode -->
        <div class="form-group" style="margin-bottom: 5px;">
            @Html.LabelFor(model => model.Postcode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Postcode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Postcode, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Email field - used for login -->
        <div class="form-group" style="margin-bottom: 5px;">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Phone Number field -->
        <div class="form-group" style="margin-bottom: 5px;">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Password field  hides the input -->
        <div class="form-group" style="margin-bottom: 5px;">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Course selection dropdown populated from Model.Courses -->
        <div class="form-group" style="margin-bottom: 5px;">
            @Html.LabelFor(model => model.CourseId, "Course", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CourseId, Model.Courses, "-- Select Course --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Form submission and cancel buttons -->
        <div class="form-group text-center mt-4">
            <!-- Submit button to create the student -->
            <button type="submit" class="btn btn-primary">Create Student</button>

            <!-- Back button that returns to the student  page -->
            <a href="@Url.Action("ViewAllStudents")" class="btn btn-primary" style="margin-left: 10px;">Back</a>
        </div>
    </div>
}
